<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0"/>

    <!-- Meta KW -->
    <meta name="keywords" content="Joyeria , manualidades , Arte contemporaneo ,Bijouterie, Artes Plasticas, Anillos , Pulseras , Collares ,Aretes ">
    
    <!-- Meta tag -->
    <meta name="description" content="En esta sección podemos visualizar los siguientes trabajos realizado a lo largo de los años ,en esta parte visualizamos los trabajos  de Joyería , Gaviota  Olmos  Artista  Plastica.  ">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/src/assets/img/favicon/gaviota.png">
    <title>Joyería</title>

    <!-- Op Graph -->
    <meta property="og:title" content="Gaviota Olmos - Artista plástica">
    <meta property="og:description" content="Gaviota Olmos artista plástica.  Trabajos  Joyeria.">
    <meta property="og:image" content="https://i.pinimg.com/564x/72/99/aa/7299aa7d0bc66f213188e90274088d5c.jpg">
</head>
<body>
    <header>
        
        <div class="titulo-container">
            <div class="h1-h2">
                <h1 class="titulo">Gaviota Olmos</h1>
                <h2 class="artista">Artes Plasticas</h2>
            </div>
        </div>
        
        <nav>
            <ul class="nav-li">
                <li><a href="../../index.html#home">Home</a></li>
                <li><a href="../../index.html#bio">Bio</a></li>
                <li><a href="../../index.html#trabajos">Trabajos</a></li>
                <li><a href="../../index.html#contacto">Contacto</a></li>
                <li><a href="../../index.html#redes">Redes sociales</a></li>
                <li><a href="/src/view/productos.html">Productos</a></li>
            </ul>
        </nav>
    </header>
    <section class="obras">
        
            <h2>Joyeria</h2>
    
    
    <div class="trabajos-container__obra">
        <div class="trabajosObra gridObra1 ">
            <img src="/src/assets/img/joyeria/joyeria-1.webp" alt="Joya trabajada con plastico" >
            <div class="text-trabajos">
                <h3>Titulo de la obra</h3>
                <h4>Descripción de la obra</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt repellat culpa fugit id nam tempora impedit expedita qui officiis minima accusamus quidem, corrupti dignissimos consectetur consequuntur eaque sequi odit possimus.</p>
            </div>
        </div>
            
        <div class="trabajosObra gridObra2">
            <img src="/src/assets/img/joyeria/joyeria-2.webp" alt="Joyas echas de plata" >
            <div class="text-trabajos">
                <h3>Titulo de la obra</h3>
                <h4>Descripción de la obra</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi voluptate excepturi provident incidunt, ullam dolor illum voluptatem magnam delectus, omnis, doloremque quidem. Doloremque sapiente, tenetur explicabo fugit numquam asperiores sunt.</p>
            </div>
        </div>
        <div class="trabajosObra gridObra3">
            <img src="/src/assets/img/joyeria/joyeria-3.webp" alt="Joyas echas con plata" >
            <div class="text-trabajos">
                <h3>Titulo de la obra</h3>
                <h4>Descripción de la obra</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae nemo reiciendis animi quam sequi minima unde. Rerum at obcaecati, nisi fuga, vel blanditiis eveniet neque totam mollitia accusamus, quod eius!</p>
            </div>
            
        </div>
        <div class="trabajosObra gridObra4">
            <img src="/src/assets/img/joyeria/joyeria-4.webp" alt="Collar echo con huesos y hilos pintado con acrilico rojo" >
            <div class="text-trabajos">
                <h3>Titulo de la obra</h3>
                <h4>Descripción de la obra</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque, asperiores qui cupiditate quisquam repellat voluptatum quae suscipit vero reprehenderit maxime ab sunt. Cumque vitae quidem temporibus eaque cupiditate adipisci doloribus.</p>
            </div>
            
        </div>
            
        <div class="trabajosObra gridObra5">
            <img src="/src/assets/img/joyeria/joyeria-5.webp" alt="Collar echo con plata e hilos" >
            <div class="text-trabajos">
                <h3>Titulo de la obra</h3>
                <h4>Descripción de la obra</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis inventore facere ipsam, suscipit accusamus veniam quas qui laudantium nemo ipsa consequatur commodi similique molestias, ipsum molestiae atque alias autem tempora.</p>
            </div>
        </div>
            
        <div class="trabajosObra gridObra6">
            <img src="/src/assets/img/joyeria/joyeria-6.webp" alt="Anillos de plata" >
            <div class="text-trabajos">
                <h3>Titulo de la obra</h3>
                <h4>Descripción de la obra</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia doloribus perferendis harum voluptatum asperiores expedita quibusdam blanditiis! Veritatis, veniam, itaque nobis assumenda, quas porro quam est cumque maiores sunt voluptas!</p>
            </div>
        </div>
            
        <div class="trabajosObra gridObra7joyeria">
            <img src="/src/assets/img/joyeria/joyeria-7.webp" alt="Collar de alpaca y plata intervenido con pedazos de plastico" >
            <div class="text-trabajos">
                <h3>Titulo de la obra</h3>
                <h4>Descripción de la obra</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque earum totam, assumenda fugit aliquam tenetur eveniet aspernatur! Deleniti at sunt officiis, consectetur necessitatibus, suscipit beatae nulla adipisci ut vitae quo.</p>
            </div>
        </div>
        
    </div>

        <div class="volver">
            <a href="../../index.html#trabajos">Volver</a>
        </div>
    </section>
    
    <footer class="footer">
        <p>Gaviota Olmos 2022© todos los derechos reservados.</p>
    </footer>
</body>
</html>