<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />

    <!-- Meta Kw -->
    <meta name="keywords" content="Pintura , Lienzos , Pintura en acuarela , Pintura en Acrilico , Dibujos , Retratos , Paisajismo , Arte , Arte moderno , Arte contemporaneo, Arte abstracto ">

    <!-- Meta tag -->
    <meta name="description" content="En esta sección podemos visualizar los siguientes trabajos realizado a lo largo de los años ,en esta parte visualizamos los trabajos  de Pintura , Gaviota  Olmos  Artista  Plastica.  ">
    
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/src/assets/img/favicon/gaviota.png">
    <title>Gaviota Olmos - Artista Plastica</title>

    <!-- Op Graph -->
    <meta property="og:title" content="Gaviota Olmos - Artista plástica">
    <meta property="og:description" content="Gaviota Olmos artista plástica.  Trabajos   Pintura">
    <meta property="og:image" content="https://i.pinimg.com/564x/72/99/aa/7299aa7d0bc66f213188e90274088d5c.jpg">
</head>

<body>
    <header>
        
        <div class="titulo-container">
            <div class="h1-h2">
                <h1 class="titulo">Gaviota Olmos</h1>
                <h2 class="artista">Artes Plasticas</h2>
            </div>
        </div>

        <nav>
            <ul class="nav-li">
                <li><a href="../../index.html#home">Home</a></li>
                <li><a href="../../index.html#bio">Bio</a></li>
                <li><a href="../../index.html#trabajos">Trabajos</a></li>
                <li><a href="../../index.html#contacto">Contacto</a></li>
                <li><a href="../../index.html#redes">Redes sociales</a></li>
                <li><a href="/src/view/productos.html">Productos</a></li>
            </ul>
        </nav>
    </header>
    <section class="obras">
        <h2>Pintura</h2>

        <div class="trabajos-container__obra">
            <div class="trabajosObra gridObra1">
                <h3>Titulo de la obra</h3>
                <img src="/src/assets/img/pintura/pintura-1.webp" alt="pinturas con acuarelas" width="50%" >
                <h4>Descripción de la obra</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt repellat culpa fugit id nam
                    tempora impedit expedita qui officiis minima accusamus quidem, corrupti dignissimos consectetur
                    consequuntur eaque sequi odit possimus.</p>
            </div>

            <div class="trabajosObra gridObra2">
                <h3>Titulo de la obra</h3>
                <img src="/src/assets/img/pintura/pintura-2.webp" alt="pintura con acuarelas" >
                <h4>Descripción de la obra</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi voluptate excepturi provident
                    incidunt, ullam dolor illum voluptatem magnam delectus, omnis, doloremque quidem. Doloremque
                    sapiente, tenetur explicabo fugit numquam asperiores sunt.</p>
            </div>

            <div class="trabajosObra gridObra3">
                <h3>Titulo de la obra</h3>
                <img src="/src/assets/img/pintura/pintura-3.webp" alt="pintura con acuarelas" >
                <h4>Descripción de la obra</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium temporibus, nobis facere animi
                excepturi fuga molestias minus voluptatem dolorum est eos vero nostrum ad incidunt? Ipsa vero quasi
                consequatur similique?</p>
            </div>

            <div class="trabajosObra gridObra4">
                <h3>Titulo de la obra</h3>
                <img src="/src/assets/img/pintura/pintura-4.webp" alt="pintura con acuarelas" >
                <h4>Descripción de la obra</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed, vel in magnam quaerat dignissimos eum
                qui commodi earum ad. Ab, aliquam! Officiis, voluptas minima dicta suscipit eveniet incidunt rem
                esse!</p>
            </div>

            <div class="trabajosObra gridObra5">
                <h3>Titulo de la obra</h3>
                <img src="/src/assets/img/pintura/pintura-5.webp" alt="pintura con acuarelas">
                <h4>Descripción de la obra</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus pariatur eum, sit vel laboriosam
                nihil commodi repudiandae quia numquam nesciunt sunt! Possimus tenetur nostrum aut
                exercitationem esse amet modi explicabo.</p>
            </div>

            <div class="trabajosObra gridObra6">
                <h3>Titulo de la obra</h3>
                <img src="/src/assets/img/pintura/pintura-6.webp" alt="pintura con acuarelas">
                <h4>Descripción de la obra</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste quia magni ab laborum impedit odit consequatur minus, alias debitis facilis eius explicabo officia sequi animi ex aperiam hic quod temporibus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium doloribus quidem in voluptas odit qui voluptatem facere distinctio temporibus at veniam earum libero sed unde quas, ratione perspiciatis fugit tempora.</p>
            </div>
        </div>

            <div class="volver">
                <a href="../../index.html#trabajos">Volver</a>
            </div>
    </section>

    <footer class="footer">
        <p>Gaviota Olmos 2022© todos los derechos reservados.</p>
    </footer>
</body>

</html>