<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0"/>

    <!-- Meta Kw -->
    <meta name="keywords" content="Productos , Pintura ,Talla en madera ,Dibujos ,Esculuturas ,Arte textil , Joyeria , Arte contemporaneo , Arte Moderno">

    <!-- Meta tag -->
    <meta name="description" content="En esta sección podemos visualizar los siguientes productos realizados  ,en esta parte visualizamos los productos  tanto como  Joyería  ,Talla en madera , Pintura , Escultura  , Gaviota  Olmos  Artista  Plastica."> 
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/src/assets/img/favicon/gaviota.png">
    <title>Productos</title>

    <!-- Op Graph -->
    <meta property="og:title" content="Gaviota Olmos - Artista plástica">
    <meta property="og:description" content="Gaviota Olmos artista plástica.  Productos  Artes  Plásticas , Arte textil  ,  Joyeria  ,  Pintura  ,  Escultura  ">
    <meta property="og:image" content="https://i.pinimg.com/564x/72/99/aa/7299aa7d0bc66f213188e90274088d5c.jpg">
</head>
<body>
    <header>
        
        <div class="titulo-container">
            <div class="h1-h2">
                <h1 class="titulo">Gaviota Olmos</h1>
                <h2 class="artista">Artes Plasticas</h2>
            </div>
        </div>

        <nav>
            <ul class="nav-li">
                <li><a href="../../index.html#home">Home</a></li>
                <li><a href="../../index.html#bio">Bio</a></li>
                <li><a href="../../index.html#trabajos">Trabajos</a></li>
                <li><a href="../../index.html#contacto">Contacto</a></li>
                <li><a href="../../index.html#redes">Redes sociales</a></li>
                <li><a href="/src/view/productos.html">Productos</a></li>
            </ul>
        </nav>
    </header>
    <section class="obras">

            <h2>Productos</h2>

        <div class="trabajos-container__obra">
            <div class="trabajosObra gridObra1 productos">
                <h3>Titulo de la obra</h3>
                <img src="/src/assets/img/productos/producto-1.webp" alt="descripción de la obra">
                <h4>Descrpición del producto</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt repellat culpa fugit id nam tempora impedit expedita qui officiis minima accusamus quidem, corrupti dignissimos consectetur consequuntur eaque sequi odit possimus.</p>
                <input type="button" value="Comprar">
            </div>
                
            <div class="trabajosObra gridObra2 productos">
                <h3>Titulo de la obra</h3>
                <img src="/src/assets/img/productos/producto-2.webp" alt="descripción de la obra">
                <h4>Descrpición del producto</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi voluptate excepturi provident incidunt, ullam dolor illum voluptatem magnam delectus, omnis, doloremque quidem. Doloremque sapiente, tenetur explicabo fugit numquam asperiores sunt.</p>
                <input type="button" value="Comprar">
            </div>
            
            <div class="trabajosObra gridObra3 productos">
                <h3>Titulo de la obra</h3>
                <img src="/src/assets/img/productos/producto-3.webp" alt="descripción de la obra">
                <h4>Descrpición del producto</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla possimus laudantium molestias, doloremque eligendi dolorum incidunt aut modi, vitae at corporis magnam consequatur? Provident quibusdam ad distinctio adipisci laudantium mollitia!</p>
                <input type="button" value="Comprar">
            </div>
            
            <!-- <div class="trabajosObra gridObra4">
                <h3>Titulo de la obra</h3>
                <img src="/src/assets/img/productos/producto-4.webp" alt="descripción de la obra">
                <h4>Descrpición del producto</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia qui commodi iure perspiciatis quae quasi laboriosam similique facere, blanditiis labore veniam, quidem harum adipisci error vitae esse minus aliquam mollitia.</p>
                <input type="button" value="Comprar">
            </div> -->
            
            <div class="trabajosObra gridObra4 productos">
                <h3>Titulo de la obra</h3>
                <img src="/src/assets/img/productos/producto-5.webp" alt="descripción de la obra">
                <h4>Descrpición del producto</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus magni, aut repellendus veritatis dignissimos laudantium reprehenderit eaque nemo asperiores minima? Quas sit dolorum numquam ea facilis provident minus veritatis eos.</p>
                <input type="button" value="Comprar">
            </div>
            
            <div class="trabajosObra gridObra5 productos">
                <h3>Titulo de la obra</h3>
                <img src="/src/assets/img/productos/producto-6.webp" alt="descripción de la obra">
                <h4>Descrpición del producto</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam nulla obcaecati modi, sit nobis ad ducimus eos fugit est possimus repellendus neque ipsam dicta quis, sapiente quibusdam! Amet, tempora vitae?</p>
                <input type="button" value="Comprar">
            </div>
            
            <div class="trabajosObra gridObra6 productos">
                <h3>Titulo de la obra</h3>
                <img src="/src/assets/img/productos/producto-7.webp" alt="descripción de la obra">
                <h4>Descrpición del producto</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis officia numquam tenetur dicta unde quod necessitatibus, ad inventore iure omnis voluptate provident quasi autem optio expedita. Et provident quo odit!</p>
                <input type="button" value="Comprar">
            </div>
            
            <div class="trabajosObra gridObra7joyeria productos">
                <h3>Titulo de la obra</h3>
                <img src="/src/assets/img/productos/producto-8.webp" alt="descripción de la obra">
                <h4>Descripción del producto</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate atque voluptate iste culpa, maxime quisquam ex corporis! Quibusdam necessitatibus atque quos animi veniam, omnis autem temporibus? Assumenda delectus veniam blanditiis!</p>
                <input type="button" value="Comprar">
            </div>
        </div>

            <div class="volver">
                <a href="../../index.html#home">Volver</a>
            </div>
    </section>
    <footer class="footer">
        <p>Gaviota Olmos 2022© todos los derechos reservados</p>
    </footer>
</body>
</html>