<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0"/>

    <!-- Meta Kw -->
    <meta name="keywords" content="Talla en madera , madera , trabajos realizados con madera , escultura en madera , Artesania en madera , Madera , Arte en madera , Artes Plasticas  ">

    <!-- Meta tag -->
    <meta name="description" content="Gaviota olmos - Artista  Plastica - Sección   Talla   en  madera  echas    con   distintas   tecnicas   y   maderas  artes  plasticas   , Maderas  ,  Artesanias  echas  en  madera ">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/src/assets/img/favicon/gaviota.png">
    <title>Talla</title>

    <!-- Op Graph -->
    <meta property="og:title" content="Gaviota Olmos - Artista plástica">
    <meta property="og:description" content="Gaviota Olmos artista plástica.  Talla en madera  Artes  Plásticas , Arte textil  ,  Joyeria  ,  Pintura  ,  Escultura  ">
    <meta property="og:image" content="https://i.pinimg.com/564x/72/99/aa/7299aa7d0bc66f213188e90274088d5c.jpg">
</head>
<body>
    <header>
        
        <div class="titulo-container">
            <div class="h1-h2">
                <h1 class="titulo">Gaviota Olmos</h1>
                <h2 class="artista">Artes Plasticas</h2>
            </div>
        </div>  

        <nav >
            <ul class="nav-li">
                <li><a href="../../index.html#home">Home</a></li>
                <li><a href="../../index.html#bio">Bio</a></li>
                <li><a href="../../index.html#trabajos">Trabajos</a></li>
                <li><a href="../../index.html#contacto">Contacto</a></li>
                <li><a href="../../index.html#redes">Redes sociales</a></li>
                <li><a href="/src/view/productos.html">Productos</a></li>
            </ul>
        </nav>
    </header>
    <section class="obras">
        <h2>Talla</h2>
    <div class="trabajos-container__obra">
        
        <div class="trabajosObra gridObra1">
            <h3>Titulo de la obra</h3>
            <img src="/src/assets/img/talla/talla-1.webp" alt="escultura echa en madera intervenida con placa de alpaca">
            <h4>Descripción de la obra</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt repellat culpa fugit id nam tempora impedit expedita qui officiis minima accusamus quidem, corrupti dignissimos consectetur consequuntur eaque sequi odit possimus.</p>
        </div>

        <div class="trabajosObra gridObra2">
            <h3>Titulo de la obra</h3>
            <img src="/src/assets/img/talla/talla-2.webp" alt="Recipientes echo en madera intervenido con colores">
            <h4>Descripción de la obra</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi voluptate excepturi provident incidunt, ullam dolor illum voluptatem magnam delectus, omnis, doloremque quidem. Doloremque sapiente, tenetur explicabo fugit numquam asperiores sunt.</p>
        </div>
        
        <div class="trabajosObra gridObra3">
            <h3>Titulo de la obra</h3>
            <img src="/src/assets/img/talla/talla-3.webp" alt="Escultura echa en madera intervenida con chapa de acero">
            <h4>Descripción de la obra</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore omnis perspiciatis error tenetur sit, voluptatum veniam harum eligendi quos? Quo veniam provident distinctio sapiente non natus ad amet maiores excepturi?</p>
        </div>
        
        <div class="trabajosObra gridObra4">
            <h3>Titulo de la obra</h3>
            <img src="/src/assets/img/talla/talla-4.webp" alt="Escultura echa con corteza de arbol">
            <h4>Descripción del obra</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus amet laudantium nostrum exercitationem corrupti temporibus, quidem aut odit consequuntur, a repellat iste consequatur nulla maiores totam adipisci laborum corporis voluptate.</p>
        </div>
        
        <div class="trabajosObra gridObra5">
            <h3>Titulo de la obra</h3>
            <img src="/src/assets/img/talla/talla-5.webp" alt="">
            <h4>Descripción de la obra</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure nobis iste, ipsam quo hic voluptas cupiditate facilis est autem tenetur dicta odio eveniet quas, itaque sed fuga beatae quis! Commodi.</p>
        </div>
        
        <div class="trabajosObra gridObra6">
            <h3>Titulo de la obra</h3>
            <img src="/src/assets/img/talla/talla-6.webp" alt="">
            <h4>Descripción de la obra</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea est, similique fugit adipisci ut nostrum. Eveniet magnam, quisquam, autem odit voluptate, alias ipsa ratione veritatis modi minima debitis. Molestiae, aliquam?</p>
        </div>
        
        <div class="trabajosObra gridObra7talla">
            <h3>Titulo de la obra</h3>
            <img src="/src/assets/img/talla/talla-7.webp" alt="">
            <h4>Descrpición de la obra</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto error porro unde deserunt modi optio nemo nobis aut dolore ullam. Ipsam dolorem necessitatibus at corrupti aliquid consectetur commodi in reiciendis.</p>
        </div>

        <div class="trabajosObra gridObra8talla">
            <h3>Titulo de la obra</h3>
            <img src="/src/assets/img/talla/talla-8.webp" alt="">
            <h4>Descripción de la obra</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto aliquam vero nam cum nisi libero, culpa ab repudiandae voluptatem delectus perferendis officiis distinctio nemo vitae sit accusantium dolore ratione assumenda!</p>
        </div>

    </div>
        <div class="volver">
            <a href="../../index.html#trabajos">Volver</a>
        </div>
        
    </section>
    <footer class="footer">
        <p>Gaviota Olmos 2022© todos los derechos reservados.</p>
    </footer>
</body>
</html>