<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0"/>

    <!-- Meta Kw -->
    <meta name="keywords" content="Arte textil , Telares , Artes plasticas , Arte urbano , Arte moderno , Lienzos , Arte contemporaneo ">

    <!-- Meta tag -->
    <meta name="description" content="Gaviota  olmos  -  Arte  Textil  -  Artista  Plastica  -  Sección   Textil  echas    con   distintas   tecnicas   y   hilos  , telas  ,  Artesanias  echas  en  Tela ">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/src/assets/img/favicon/gaviota.png">
    <title>Textil</title>

    <!-- Op Graph -->
    <meta property="og:title" content="Gaviota Olmos - Artista plástica">
    <meta property="og:description" content="Gaviota Olmos artista plástica.  Arte  Textil  Artes  Plásticas  ,  Joyeria  ,  Pintura  ,  Escultura ,  Bijouteria  ">
    <meta property="og:image" content="https://i.pinimg.com/564x/72/99/aa/7299aa7d0bc66f213188e90274088d5c.jpg">
</head>
<body>
    <header>

        <div class="titulo-container">
            <div class="h1-h2">
                <h1 class="titulo">Gaviota Olmos</h1>
                <h2 class="artista">Artes Plasticas</h2>
            </div>
        </div>
        
        <nav >
            <ul class="nav-li">
                <li><a href="../../index.html#home">Home</a></li>
                <li><a href="../../index.html#bio">Bio</a></li>
                <li><a href="../../index.html#trabajos">Trabajos</a></li>
                <li><a href="../../index.html#contacto">Contacto</a></li>
                <li><a href="../../index.html#redes">Redes sociales</a></li>
                <li><a href="/src/view/productos.html">Productos</a></li>
            </ul>
        </nav>
    </header>
    <section class="obras">
        <div class="trabajos-title">
            <h2>Textil</h2>
        </div>
        
    <div class="trabajos-container__obra">
        <div class="trabajosObra gridObra1">
            <h3>Titulo de la obra</h3>
            <img src="/src/assets/img/textil/textil-1.webp" alt="lienzo trabajado con hilos de colores" >
            <h4>Descripción de la obra</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt repellat culpa fugit id nam tempora impedit expedita qui officiis minima accusamus quidem, corrupti dignissimos consectetur consequuntur eaque sequi odit possimus.</p>
        </div>
        
        <div class="trabajosObra gridObra2">
            <h3>Titulo de la obra</h3>
            <img src="/src/assets/img/textil/textil-2.webp" alt="lienzo trabajado con hilos" >
            <h4>Descripción de la obra</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi voluptate excepturi provident incidunt, ullam dolor illum voluptatem magnam delectus, omnis, doloremque quidem. Doloremque sapiente, tenetur explicabo fugit numquam asperiores sunt.</p>
        </div>
        
        <div class="trabajosObra gridObra3">
            <h3>Titulo de la obra</h3>
            <img src="/src/assets/img/textil/textil-3.webp" alt="lienzo trabajado con hilos de colores">
            <h4>Descripción de la obra</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, mollitia. Maxime, labore dolorem adipisci quasi laborum saepe omnis eligendi possimus deleniti? Voluptatibus, mollitia molestias. Alias delectus maxime numquam magni debitis.</p>
        </div>
        
        <div class="trabajosObra gridObra4">
            <h3>Titulo de la obra</h3>
            <img src="/src/assets/img/textil/textil-4.webp" alt=" obra intervenida con hilos de colores">
            <h4>Descripción de la obra</h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis vel, incidunt tempora sunt aperiam sit voluptas omnis eligendi sapiente laborum optio? Consequuntur voluptatibus et placeat delectus, exercitationem recusandae reiciendis suscipit!</p>
        </div>
        
        <div class="trabajosObra gridObra5">
            <h3>Titulo de la obra</h3>
            <img src="/src/assets/img/textil/textil-5.webp" alt="obra intervenida con hilos de colores">
            <h4>Descripción de la obra</h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem illum maiores, sequi delectus vero molestiae sunt repellat exercitationem debitis nesciunt nobis quibusdam facilis veritatis consequuntur ut mollitia placeat in itaque.</p>
        </div>
        
        <div class="trabajosObra gridObra6">
            <h3>Titulo de la obra</h3>
            <img src="/src/assets/img/textil/textil-6.webp" alt="obra intervenida con hilos de colores">
            <h4>Descripción de la obra</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore, possimus optio. Officiis repudiandae cum quibusdam omnis repellat corporis recusandae! Eos qui veritatis, consequatur quos adipisci quia suscipit vel labore ea!</p>
        </div>
        
        <div class="trabajosObra gridObra7">
            <h3>Titulo de la obra</h3>
            <img src="/src/assets/img/textil/textil-7.webp" alt="obra intervenida con hilso de colores">
            <h4>Descripción de la obra</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, dolorum. Molestiae natus dolorem, reiciendis rerum eveniet blanditiis aliquam quod sit, repellendus modi pariatur laboriosam, amet quasi numquam. Ipsam, impedit quas.</p>
        </div>
        
        <div class="trabajosObra gridObra8">
            <h3>Titulo de la obra</h3>
            <img src="/src/assets/img/textil/textil-8.webp" alt="Obra intervenidacon hilos de colores">
            <h4>Descripción de la obra</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem voluptate modi perspiciatis, similique maxime obcaecati. Doloribus praesentium, quasi impedit porro sit similique molestiae ex, delectus odit itaque commodi sint vitae.</p>
        </div>
        
        <div class="trabajosObra gridObra9">
            <h3>Titulo de la obra</h3>
            <img src="/src/assets/img/textil/textil-9.webp" alt="Obra intervenida con hilos de colores">
            <h4>Descripción de la obra</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum doloribus reprehenderit illum maiores voluptatibus corrupti, velit veritatis aspernatur quas expedita, mollitia libero blanditiis assumenda odit ullam, ex quidem nisi non!</p>
        </div>
        
        <div class="trabajosObra gridObra10">
            <h3>Titulo de la obra</h3>
            <img src="/src/assets/img/textil/textil-10.webp" alt="Retrato echo en hilos echo sobre un lienzo de tela">
            <h4>Descripción de la obra</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam expedita eaque cupiditate vel recusandae ex aut, corporis ea, exercitationem ab amet iste illum sequi quo dignissimos obcaecati enim error non.</p>
        </div>
            
        <div class="trabajosObra gridObra11textil">
            <h3>Titulo de la obra</h3>
            <img src="/src/assets/img/textil/textil-11.webp" alt="Chaleco de piel intervenido con hilos y telas">
            <h4>Descripción de la obra</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum quidem vel doloremque incidunt! Fugiat architecto facere pariatur. Sequi dolorum, tempora consequuntur nam fugit accusamus nulla blanditiis animi neque officiis provident!</p>
        </div>
    </div>
    
        <div class="volver">
            <a href="../../index.html#trabajos">Volver</a>
        </div>
    </section>
    <footer class="footer">
        <p>Gaviota Olmos 2022© todos los derechos reservados.</p>
    </footer>
</body>
</html>