header{
    .titulo-container{
        display: flex;
        justify-content: flex-end;
        .box-1{
            position: relative;
            right: 24rem;
            width: 2rem;
            height: 2rem;
            background-color: royalblue;
            border-radius: 90px 90px 90px 90px;
            transform: skew(10deg,30deg);
            animation-name: animacion;
            animation-duration: 2s all;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
        }
        @keyframes animacion{
            /* 0%{background-color: $footer;}
            25%{background-color: $footertxt;}
            50%{background-color: $bio;}
            75%{background-color: $contacto;}
            100%{background-color: $footer;} */
            0%{background-color: slateblue;}
            25%{background-color: steelblue;}
            50%{background-color: thistle;}
            75%{background-color: violet;}
            100%{background-color: whitesmoke;}
        }
    }
}