@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Montserrat:wght@300;500&family=Oxygen+Mono&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat',sans-serif;
    font-weight: 300;
    box-sizing: border-box;
    outline: none;
} 